.footer-heading {
    font-weight: bold;
}

.footer-slogan {
    color: #6A7C8F;
    font-weight: bold;
    font-size: 1.2rem;
}
h4 {
    color: #6A7C8F;
}
ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
li a {
    color: #6A7C8F;
    text-decoration: none;
}

li a:hover {
    color: #788695;
    text-decoration: none;
}

.tmdb-logo {
    max-height: 10px;
}

.tmdb-credit {
    color: #6A7C8F;
}