a.navbar-brand {
    color: #FDC107;
    font-weight: bold;
    font-size: 2rem;
}
a.navbar-brand:hover {
    color:#f8d468;
}

.header-link {
    color: #FDC107;
    font-weight: bold;
    font-size: 1.2rem;
}

a.header-link:hover {
    color:#f8d468;
}
.custom-toggler.navbar-toggler {
    border-color: #FDC107;
}

.custom-toggler.navbar-toggler:hover {
    border-color: #f8d468;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(253, 193, 7, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

