.hero-container-home {
    height: 60vh;
    overflow: hidden;
    padding: 0px;
    position: relative;
}

.hero-image-home {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 40%;
    filter: blur(4px);
    -webkit-filter: blur(4px);
    opacity: 0.3;
    -webkit-mask-image: linear-gradient(black, transparent);

}

.hero-content-home {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 1.3rem;
}


@media screen and (min-width: 601px) {
    .hero-content-home h1 {
      font-size: 4rem;
    }
  }
  
  @media screen and (max-width: 600px) {
    .hero-content-home h1 {
      font-size: 3rem;
    }
  }

.homepage-containers {
    margin-bottom: 100px;;
}

.homepage-containers h2 {
    font-size: 2.5rem;
    margin-bottom: 15px;
}