.hero-container {
    height: 60vh;
    overflow: hidden;
    padding: 0px;
    position: relative;
}

.hero-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 40%;
    filter: blur(4px);
    -webkit-filter: blur(4px);
    opacity: 0.3;
    -webkit-mask-image: linear-gradient(black, transparent);
    
}

.hero-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.hero-content h1 {
    font-size: 4.5em;
}

.hero-content p {
    font-size: 1.2em;
}

.buttons-container {
    margin-top: -150px;
    position: relative;
    z-index: 1;
}