@import url('https://fonts.googleapis.com/css?family=Nunito Sans');

body {
  margin: 0;
  font-family: 'Nunito Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #060D17;
  color: #FDC107;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1 {
  font-weight: bold;
}

h2 {
  font-weight: bold;
}